{
  "branches": [
    { "name": "master", "prerelease": false },
    { "name": "develop", "prerelease": "rc" }
  ],
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "map-editor-windows.zip", "label": "Map Editor (Windows)" },
          { "path": "map-editor-ubuntu.zip", "label": "Map Editor (Ubuntu)" },
          { "path": "map-editor-macos.zip", "label": "Map Editor (MacOS)" }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "writerOpts": {
          "headerPartial": ""
        }
      }
    ]
  ]
}
