{
  "branches": [
    { "name": "master", "prerelease": false },
    { "name": "develop", "prerelease": "rc" },
    { "name": "feat/compiler", "prerelease": "rc" }
  ],
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "release.zip", "label": "Release" }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "writerOpts": {
          "headerPartial": ""
        }
      }
    ]
  ]
}
